$bg: #0F1316;

$yellow-1: #FFDC97;

$red-1: #600004;

$black-1: #423352;
$black-2: #2E2250;
$white-1: #FFFFFF;
$white-2: #dae4ed;

$skin-1: #FFC4C5;
$skin-2: #FFB1B4;
$skin-3: #FFA0A5;

$cyan-1: #005788;
$cyan-2: #00467F;

$purple-1: #351C77;
$purple-2: #2B165D;

$green-1: #04798c;
$green-2: #008C9A;

$orange-1: #FF9B5A;
$orange-2: #FF552E;
$orange-3: #FF4624;
$orange-4: #FF371B;

$blue-1: #2764cc;
$blue-2: #001B7A;
$blue-3: #001682;
$blue-4: #001164;
$blue-5: #010a2a;
$blue-6: #010109;